body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #5F6368;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;   
}

a:hover {
    text-decoration: underline;
}

.top_menu {
    text-align: right;
    height: 3.1em;
    margin-top: 10px;
}

.tm_a {
    display: inline-block;
    margin-right: 20px;
    word-spacing: 20px;
} 

.tm_a > .tm_img {
    display: inline-block;
}

.tm_a1{
    height: auto;
}


.tm_a1> div {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center {
    width: auto;
    height: auto;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.cv2 {
    text-align: center;
    
    
}

.search_fild > input {
    position: relative;
    padding: 0px 90px 0px 50px;
    border-radius: 20px;
    width: 440px;
    height: 44px;
    outline: none;
    border: 1px solid #e4e4e4;
    -webkit-tap-highlight-color: transparent;    
}

form {
    position: relative; 
}

.micro > button {
    position: fixed;
    top: 389px;
    right: 330px;
    border: 0px;
    background-color: white;
}

.keyboard > button {
    position: fixed;
    top: 389px;
    right: 365px;
    border: 0px;
    background-color: white;
}

.find > button {
    position: fixed;
    top: 389px;
    left: 500px;
    border: 0px;
    background-color: white;
}

.search_fild > input:hover{
    box-shadow: 0 0 10px #e4e4e4;

} 

.search_bottom {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search_bottom > input  {
    height: 36px;
    background: #f2f2f2;
    font: 13px Arial, sans-serif;
}

.img {
    height: 120px;
    width: auto;
}

.sb_left {
    display: inline-block;
    
}

.sb_left > div > input {
    background-color: #f2f2f2;
    color: #5c6c6c;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    height: 36px;
    width: 133px;   
    margin: 5px 4px;
}

.sb_right {
    display: inline-block; 
}

.sb_right >div > input {
    background-color: #f2f2f2;
    color: #5c6c6c;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    height: 36px;
    width: 133px;   
    margin: 5px 4px;
    
}

.center_bottom{
    text-align: center;
    font: 13px arial, sans-serif;
    color: #222222;
}

.bottom_menu {
    position: absolute; 
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;    
}

.bm_top {
    font-family: 'Roboto', sans-serif;
    height: 82px;
}

.bm_top_country {
    border: 1px solid #e4e4e4;
    padding: 0px 0px 0px 15px;
    height: 39px;
    color: rgba(0,0,0,.54);
}

.bm_top_country > p {
    font-size: 15px;
    margin: 10px;
    
}

.bm_right {
    float: right;
    margin-right: 30px; 
}

.bm_right > div {
    display: inline-block;
    margin-top: 10px;
    padding: 0px 0px 0px 27px;
    font: 13px 'Roboto', sans-serif;
}

.bm_left > div {
    display: inline-block;
    margin-top: 10px;
    padding: 0px 0px 0px 27px;
    font: 13px 'Roboto', sans-serif;
}


@media screen and (max-width: 480px) {
    .center {
        margin-top: 50%
    }
    .bottom_menu {
        position: absolute; 
        width: 100%;
        bottom: 0;
        background-color: #f2f2f2;    
    }    
}

@media screen and (max-width: 600px) {
}